.Input {
    height: 40px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    border-radius: 20px;
    border: none;
    font-family: "Archivo";
}