.Grid {
    width: calc(var(--cell-size) * 8);
    height: calc(var(--cell-size) * 8);
    position: relative;

    &__content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
    }
}

.Cells {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &__row {
        display: flex;
    }

    &__cell {
        width: var(--cell-size);
        height: var(--cell-size);

        &.odd {
            background: lightblue;
        }

        &.even {
            background: white;
        }

        &.odd.selected {
            background: #aa1313;
        }
        
        &.even.selected {
            background: #e65050;
        }
    }
}