.PieceView {
    width: var(--cell-size);
    height: var(--cell-size);
    position: absolute;
    bottom: calc(var(--cell-size) * var(--y));
    left: calc(var(--cell-size) * var(--x));
    color: var(--color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ShapeView {
    text-shadow: 0 0 5px black;
    font-size: 80%;
}