.TurnView {
    display: flex;
    align-items: end;
    
    &__slider {
        width: 40px;
        height: 100%;
        position: relative;
        background: #565656;
        border-radius: 40px;
    }

    &__knob {
        position: absolute;
        width: 100%;
        height: 30px;
        width: 30px;
        left: 5px;
        bottom: 5px;
        border-radius: 15px;
        background: white;

        @keyframes knob-down {
            from {
                height: 30px;
                bottom: calc(100% - 30px - 5px);
            } 50% {
                height: 100px;
                bottom: calc(50% - 50px - 2.5px);
            } to {
                height: 30px;
                bottom: 5px;
            }
        }

        @keyframes knob-up {
            from {
                height: 30px;
                bottom: 5px;
            } 50% {
                height: 100px;
                bottom: calc(50% - 50px - 2.5px);
            } to {
                height: 30px;
                bottom: calc(100% - 30px - 5px);
            }
        }

        &.down {
            bottom: 5px;
            animation: knob-down 0.5s;
        }

        &.up {
            bottom: calc(100% - 30px - 5px);
            animation: knob-up 0.5s;
        }
    }

    p {
        padding: 10px;
        font-weight: bold;
    }
}